:root {
  --color-primary: #7CC14A; /* Verde claro */
  --color-secondary: #029B75; /* Verde agua */
  --color-tercer: #e0f7da; /* Verde claro */
  --color-text: #000000; /* Negro */
  --color-background: #ffffff; /* Blanco */
  --color-muted: #2a2a2a; /* Gris oscuro para textos secundarios */
  --color-border: #dddddd; /* Gris para bordes */
}
/* -------------------------------------------------------------------------------------- */
/*                                        Estilos Generales                                */
/* -------------------------------------------------------------------------------------- */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #7CC14A;
}
p, li {
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
section {
  padding: 60px 20px;
  margin-bottom: 40px;
  text-align: center;
}
.btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .main-content {
    padding: 6px;
  }
  h1, h2, h3 {
    font-size: 18px;
  }
}
.section-heading h6 {
  font-size: 16px; /* Tamaño de fuente del subtítulo */
  color: #7CC14A; /* Verde más claro para subtítulos */
  text-align: center; /* Alinea el subtítulo al centro */
  letter-spacing: 1px; /* Añade un poco de espacio entre letras */
  margin-bottom: 20px; /* Espacio debajo del subtítulo */
}
/* -------------------------------------------------------------------------------------- */
/*                            Barra de Navegación (versión PC)                             */
/* -------------------------------------------------------------------------------------- */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.main-nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.main-nav ul li a[href="#top"] {
  color: #000; /* Cambia el color del enlace Home/Inicio a negro */
}
.main-nav ul li a {
  color: var(--color-text);
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s ease;
}
.main-nav ul li a:hover {
  color: var(--color-primary);
}
.main-nav .logos {
  display: flex;
  align-items: center;
}
.main-nav .logos img {
  height: 50px;
  margin-left: 10px;
  object-fit: contain;
}
/* -------------------------------------------------------------------------------------- */
/*                            Barra de Navegación (versión Móvil)                          */
/* -------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .main-nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .menu-trigger {
    display: block;
    font-size: 30px;
    padding: 10px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
  }
  .menu-trigger.active + .main-nav ul {
    display: flex;
  }
  .logos img {
    height: 40px;
  }
}
/* -------------------------------------------------------------------------------------- */
/*                            Seección Home (versión PC y Móvil)                          */
/* -------------------------------------------------------------------------------------- */
#home {
  background-color: #e0f7da; /* Verde claro */
  padding: 30px 0;
  text-align: center;
}
.home-content {
  background-color: #fff;
  margin: 20px auto;
  max-width: 900px; /* Ajusta el ancho según lo necesario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 0%; /* Ajusta el margen izquierdo para mover la imagen */
}
@media (min-width: 769px) {
  .mobile-home {
    display: none;
  }
}
@media (max-width: 768px) {
  .home-content {
    max-width: 100%; /* Ocupa el 100% del ancho disponible en pantallas pequeñas */
    padding: 10px; /* Reducimos el padding para pantallas pequeñas */
  }
}
/* -------------------------------------------------------------------------------------- */
/*                              Sección "About" (versión PC y Móvil)                       */
/* -------------------------------------------------------------------------------------- */
#about {
  margin-top: 20px;
  padding: 100px 0px 0px 0px;
  position: relative;
  z-index: 9;
}
#about {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 100px 0; /* Ajusta el padding para el contenido */
  width: 60%; /* Ajusta el ancho según sea necesario */
  max-width: 1400px; 
  text-align: center;
}
@media (max-width: 768px) {
  #about {
    padding: 30px 10px; /* Reduce el padding superior e inferior */
    width: 90%; /* Aumenta el ancho para utilizar más espacio horizontal */
    text-align: left; /* Alinea el texto a la izquierda para mejorar la legibilidad en pantallas pequeñas */
  }
}
#about .section-heading h2 {
  padding-right: 100px;
}
#about .img-circle1 {
  width: 100%;
  max-width: 200px; /* Limitar el ancho máximo de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 50%;
  margin: 0 auto; /* Centrar la imagen */
}
#about .right-content {
  margin-top: 20px;
}
#about .right-content h3 {
  font-size: 24px;
  color: #029b75e5;  
}
#about .right-content p {
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
}
#about .right-content .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px; /* Mantén un ancho y alto iguales para la circularidad */
  height: 50px;
  display: inline-block;
  line-height: 50px; /* Alineación vertical centrada */
  text-align: center;
  background-color: #7CC14A;
  color: #fff;
  border-radius: 50%; /* Hace que el enlace sea circular */
  transform: translate(-50%, -50%); /* Centra el enlace en el contenedor */
}
/*                           Eduaction and interests                     */
.education-section,
.interests-section {
  margin-top: 30px;
  color: #029b75e5; /* Ajusta según el fondo */
}
.education-section h6,
.interests-section h6 {
  font-size: 18px;
  font-weight: bold;
  color: #029b75e5; /* Verde agua para el título */
  margin-bottom: 15px;
}
.education-section ul,
.interests-section ul {
  list-style-type: none;
  padding: 0;
}
.education-section ul li,
.interests-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #171717; /* Ajusta según el fondo */
}
.education-section ul li strong {
  color: #7CC14A; /* Color para el título de cada educación */
  font-weight: bold; /* Asegura que los títulos estén en negrita */
}
@media (max-width: 768px) {
  #about {
    padding: 30px 10px; /* Reduce el padding superior e inferior */
    width: 90%; /* Aumenta el ancho para utilizar más espacio horizontal */
    text-align: left; /* Alinea el texto a la izquierda para mejorar la legibilidad en pantallas pequeñas */
  }
  #about .section-heading h2 {
    padding-right: 0; /* Elimina el padding en pantallas pequeñas */
  }
  #about .right-content h3 {
    font-size: 20px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }
  #about .right-content p {
    font-size: 14px; /* Reduce el tamaño de la fuente para mejorar la legibilidad */
  }
  #about .img-circle1 {
    max-width: 150px; /* Ajusta el tamaño máximo de la imagen para pantallas pequeñas */
  }
  .education-section ul li,
  .interests-section ul li {
    font-size: 12px; /* Reduce el tamaño de la fuente en listas */
  }}
/* -------------------------------------------------------------------------------------- */
/*                           Sección "Lab Members" (versión PC)                            */
/* -------------------------------------------------------------------------------------- */
#group-members {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 100px 0; /* Ajusta el padding para el contenido */
  width: 70%; /* Ajusta el ancho según sea necesario */
  max-width: 1400px; 
  text-align: center;
}
#group-members {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}
.group-category {
  margin-bottom: 40px;
}
.member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
/* -------------------------------------------------------------------------------------- */
/*                              Sección "Lab Members" (versión Móvil)                      */
/* -------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  #group-members {
    padding: 30px 10px; /* Reduce el padding superior e inferior */
    width: 90%; /* Aumenta el ancho para utilizar más espacio horizontal */
    text-align: left; /* Alinea el texto a la izquierda para mejorar la legibilidad en pantallas pequeñas */
  }
}
@media (max-width: 768px) {
  .member {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .member-photo {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* -------------------------------------------------------------------------------------- */
/*                          Sección "Publications" (versión PC y Movil)                            */
/* -------------------------------------------------------------------------------------- */
#publications {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 100px 0; /* Ajusta el padding para el contenido */
  width: 50%; /* Ajusta el ancho según sea necesario */
  max-width: 1000px; 
  margin-left: 20%;
  text-align: center;
}
.publication-list li {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.publication-list h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.publication-list a {
  color: #029b75e5;
}
.publication-list a:hover {
  text-decoration: underline;
}
/**********************************            Para moviles               *******************/
@media (max-width: 768px) {
  #publications {
    padding: 15px 5%; /* Reduce el padding y usa porcentaje para centrar y expandir el contenido */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 0 auto; /* Centra la sección en la pantalla */
    text-align: justify; /* Justifica el texto para que se vea más limpio */
  }
  .publication-list h3 {
    font-size: 16px; /* Reduce ligeramente el tamaño de los títulos */
    line-height: 1.4; /* Mejora la separación entre líneas */
    margin-bottom: 10px; /* Reduce el espacio entre el título y el contenido */
  }
  .publication-list {
    padding: 0; /* Elimina cualquier padding adicional */
    width: 100%; /* Asegura que la lista de publicaciones ocupe todo el ancho */
  }
}
/* -------------------------------------------------------------------------------------- */
/*                          Sección "Join Us" (versión PC y Móvil)                         */
/* -------------------------------------------------------------------------------------- */
#vacancies {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 80px 0; /* Ajusta el padding para el contenido */
  width: 50%; 
  max-width: 1000px; 
  text-align: center;
}
#vacancies h3 {
  font-size: 28px; /* Ajusta el tamaño del título */
  margin-bottom: 20px; /* Espaciado debajo del título */
  text-align: center;
}
.vacancies-list li {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
#vacancies, #join-us {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 30px;
  margin-left: 20%;
  background-color: #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  #vacancies {
    padding: 15px 5%; /* Reduce el padding y usa porcentaje para centrar y expandir el contenido */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 0 auto; /* Centra la sección en la pantalla */
  }
  #vacancies p {
    font-size: 14px; /* Ajusta el tamaño del párrafo en pantallas pequeñas */
    line-height: 1.5; /* Mejora la legibilidad en pantallas pequeñas */ 
  }
  #vacancies h3 {
  font-size: 20px; /* Ajusta el tamaño del título */
  margin-bottom:20px; /* Espaciado debajo del título */
  text-align: center;
  letter-spacing: 1px; /* Espaciado entre letras */
}
}
  
/* -------------------------------------------------------------------------------------- */
/*                       Sección "Video Abstracts" (versión PC)                            */
/* -------------------------------------------------------------------------------------- */
#abstracts {
  max-width: 900px;
  margin: 0 auto;
  width: 80%; 
  margin-left: 15%;
  text-align: center;
}
.video-container iframe {
  width: 80%;
  height: 400px;
}
@media (max-width: 768px) {
  #abstracts {
    padding: 15px 5%; /* Reduce el padding y usa porcentaje para centrar y expandir el contenido */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 0 auto; /* Centra la sección en la pantalla */
    text-align: justify; /* Justifica el texto para que se vea más limpio */
  }
  .video-container iframe {
    width: 100%; /* Asegura que el video se ajuste al 100% del contenedor */
    height: 250px; /* Permite que el alto del video sea automático en pantallas pequeñas */
  }}
/* -------------------------------------------------------------------------------------- */
/*                     Sección "Contacts" (versión PC y Móvil)                             */
/* -------------------------------------------------------------------------------------- */
#contact {
  margin: 0 auto;
  padding: 60px 20px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 80%; /* Ancho adecuado en pantallas grandes */
}
.contact-image1 {
  display: block;
  margin-right: 20px; /* Esto añade 20px de espacio a la derecha de la imagen */
  max-width: 25%; 
  height: auto;
}
.contact-image {
  display: block; /* Asegura que cada imagen esté en una línea separada */
  margin: 10px 0; /* Añade espacio vertical entre las imágenes */
  max-width: 45%; /* Escala la imagen para ajustarse al contenedor si es necesario */
  height: auto; /* Mantiene las proporciones originales de la imagen */
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.icon-container {
  width: 30px;
  display: inline-block;
  font-size: 24px; /* Ajusta el tamaño del ícono */
  margin-right: 20px; /* Aumenta el margen entre los íconos */
  position: relative;
  margin-bottom: 0px;
  top: -10px; /* Subir el ícono 10px */
}
.contact-text {
  font-size: 15px;
}
@media (max-width: 768px) {
  #contact {
    max-width: 100%; /* Se reduce el ancho en pantallas pequeñas */
    padding: 40px 15px; /* Menor padding en pantallas pequeñas */
  }
  h5 {
    font-size: 16px; /* Ajuste de tamaño de fuente para títulos en móvil */
  }
  .contact-image1{
    max-width: 55%;
  }
  p {
    font-size: 12px; /* Ajuste del tamaño de texto de los párrafos */
    line-height: 1; /* Mejora la legibilidad */
  }
 .contact-image {
    max-width: 90%; /* Ajusta el ancho de las imágenes para pantallas pequeñas */
  }}
/* ---------------------------------------------------------------------------------------- */
/*                               Barra Lateral Fija (versión PC)                           */
/* -------------------------------------------------------------------------------------- */
.sidebar {
  position: fixed;
  width: 20%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  top: 0;
  right: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}
.widget {
  margin-bottom: 20px;
}
.widget-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.widget button[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #A8DAB5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.widget button[type="submit"]:hover {
  background-color: #7CC14A;
}
.widget ul li a {
  text-decoration: none;
  color: #7CC14A;
}
/* ---------------------------------------------------------------------------------------- */
/*                            Barra Lateral Fija (versión Móvil)                           */
/* -------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(100%);
    width: 70%;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .main-content {
    margin-top: 20px;
  }
  .menu-trigger {
    display: block;
  }
}
/* ---------------------------------------------------------------------------------------- */
/*                      Estilo del Cambio de Idioma (PC y Móvil)                           */
/* -------------------------------------------------------------------------------------- */
.menu-trigger {
  position: fixed; /* Fija el botón de menú en la parte superior */
  top: 10px;
  left: 10px;
  z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
  display: block; /* Mantener el botón visible */
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  background-color: #fff; /* Fondo blanco para mayor visibilidad */
  border: 1px solid #ccc; /* Borde opcional para que se vea mejor */
  border-radius: 5px;
}
.language-switcher2 a.active {
  color: #7CC14A; /* Color del enlace activo */
}
.language-switcher2 a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}
.language-switcher2 {
  display: block;
  position: absolute;
  top: 80px; /* Ajusta la distancia desde el botón de hamburguesa */
  left: 10px; /* Ajusta la distancia desde el lado izquierdo */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  background-color: white; /* Fondo blanco para mayor visibilidad */
  padding: 3px 5px; /* Menor padding para hacerlo más compacto */
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Añade sombra para resaltar */
} 
.language-switcher2 a {
  margin-right: 5px; /* Espaciado más pequeño entre los enlaces */
  color: #000;
  font-size: 14px; /* Ajustar el tamaño de fuente de los enlaces */
}
@media (min-width: 769px) {
  .language-switcher2 {
      display: none; /* Oculta el selector de idioma en pantallas grandes */
  }
}
/* ---------------------------------------------------------------------------------------- */
/*                            Logos  (version paraa movil)                                 */
/* -------------------------------------------------------------------------------------- */
@media (min-width: 769px) {
  .logos {
    display: none; /* Oculta los logos en pantallas grandes */
  }
}
@media (max-width: 768px) {  /* Mostrar logos solo en móviles */
  .logos {
    display: flex;
    justify-content: center; /* Centra los logos en móviles */
    margin-bottom: 10px;
  }
  .logos img {
    max-width: 100px; /* Tamaño de los logos para móviles */
    height: auto;
    margin-left:10px; /* Espaciado entre los logos en móviles */
  }
  .logos img:first-child {
    max-width: 150px; /* El logo de la izquierda será más grande */
    height: auto;
  }
  .logos img:last-child {
    max-width: 50px; /* El logo de la derecha será más pequeño */
    height: auto;
    margin-left: 40px; /* Espaciado entre los logos */
  }
}
 
/* -------------------------------------------------------------------------------------- */
/*                     Footer (versión PC )                             */
/* -------------------------------------------------------------------------------------- */
footer {
  margin-top: 60px;
  padding: 50px 0px;
  background-color: #a3dcb2; 

}
footer .left-text-content p {
  margin-top: 5px;
  color: #A8DAB5;
  font-size: 14px;
  text-align: right;
}
footer .right-text-content {
  text-align: left;
  margin-top: 10px;
}
footer .logo {
  text-align: center;
}
footer .right-text-content ul li:first-child {
  margin-left: 0px;
}
footer .right-text-content ul li a {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 50%;
  color: #7CC14A;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
footer .right-text-content ul li a:hover {
  color: #2a2a2a;
}
